<div #map class="h-[60vh] sm:h-[calc(100vh-64px)]"></div>

<section class="h-[40vh] sm:fixed sm:w-[260px] bg-white sm:rounded sm:top-20 sm:left-10 p-5 overflow-y-scroll">

  <h2 class="text-xl font-bold text-black mb-2">Marcadores</h2>

  <div class="flex flex-col gap-2 justify-between">

    @for (item of markers(); track item.id) {
      <div class="form-control justify-between w-[235px]" (click)="flyToMarker(item.mapboxMarker.getLngLat())">
        <label class="label cursor-pointer" (dblclick)="deleteMarket(item)">
          <span class="text-black text-xs"> {{ item.mapboxMarker.getLngLat().lat | number:'0.4-4' }},{{ item.mapboxMarker.getLngLat().lng | number:'0.4-4' }}</span>

        </label>
        <input type="radio" name="radio-10" checked="checked" class="radio" [style]="{ backgroundColor: item.color}" />
      </div>
    }

    @empty {
      <div class="flex justify-center items-center bg-blue-100 rounded py-3">
        <p class="text-xs text-secondary">
          No hay marcadores
        </p>
      </div>
    }
  </div>

</section>
